body {
	margin: 0;
	box-sizing: border-box;
	background-color: gray;
}

#controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 6vw;
	margin-top: 5vh;
	.ctrlBtn {
		font-size: 30px;
		color: bisque;
		background-color: darkslateblue;
		padding: 1% 2%;
		border: 2px solid white;
		border-radius: 10px;

		&:hover {
			cursor: pointer;
			background-color: rgb(40, 34, 75);
		}
	}
}

form {
	display: flex;
	flex-direction: column;
	background-color: burlywood;
	margin: 5vh auto;
	width: 45vw;

	&#catForm {
		display: none;
	}
	&#birdForm {
		display: none;
	}
}
